*{
  box-sizing: border-box;
}

.newL {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

  .listEl {
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .active, .listEl:hover {
    color: grey;
  }
/* 
  img {
    height: 200px;
    width: 300px;
  } */